/*font-family: "Mozilla Headline", sans-serif; Titulo*/
/*font-family: "Karla", sans-serif; Texto*/

.navbar{
    height: 90px; 
    background-color: #f5edd6 !important; 
    font-family:"Karla",sans-serif; 
    font-size: 20px; 
    font-weight: 580;
}
.navbar-collapse{
    background-color: #f5edd6;
    border-radius: 5px;
    margin: 0!important;
    padding: 0!important;
    width: 100%!important;
}
@media (max-width: 768px) {
    .navbar-collapse {
        background-color: #f5edd6;
        margin-left: -15px!important;
        margin-right: -15px!important;
        padding: 15px!important;
    }
}
@media (max-width: 480px) {
    .navbar-collapse {
        background-color: #f5edd6;
    }

}
.navbar-collapse.show~ .navbar-brand .logo-navbar{
    transform: translateY(-80px);
    transition: transform 0.3s ease;
}
.nav-link{
    display: flex; 
    align-items: center;
}
.logo-navbar{
    height: 80px;/*altura fija*/
    max-width: 200px;/*ancho max*/
    width: auto;/*ancho automatico*/
    margin-left: auto;
    order: 999;
    z-index: 100;
}
/*telefonos, logo mas pequeño*/
@media (max-width: 768px) {
    .logo-navbar {
        height: 80px; /*altura fija para pantallas pequeñas*/
        max-width: 180px;
    }
}
/*telefonos, mas pequeños*/
@media (max-width: 480px) {
    .logo-navbar {
        height: 55px; /*altura fija para pantallas muy pequeñas*/
        max-width: 150px;
    }
}


.card1{
     transition: margin-top 0.3s ease;
}
.card1.menu-open{
    margin-top: 170px;
}

.section1{
    background-color: #4C3D19;
    color: aliceblue;
}
.accordion-title{
    font-family: "Mozilla Headline", sans-serif;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 10px;
}
.accordion-button{
    font-family: "Mozilla Headline", sans-serif;
    text-align: center!important;
    justify-content: center!important;
    display: block;
    padding:3px
}
.accordion-body{
    font-family: "Karla", sans-serif;
    text-align: justify;
}

.video{
    width: 800px;
    height: 400px;
    padding: 10px;
    margin: 0 auto;
    display: block;
}
@media (max-width: 768px) {
    .video {
        width: 90vw; /* 90% del ancho de la ventana */
        height: auto;
    }
}

@media (max-width: 480px) {
    .video {
        width: 95vw;
        height: auto;
    }
}
.video {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    display: block;
    aspect-ratio: 650 / 400; /* Mantiene la proporción 650:400 */
}

.gutter1{
    background-color: #889063;
}